.mainbackgroundColor{
 
    background: linear-gradient(120deg,#ead1f5, #b97ef0,#cf9bfe,#ead1f5);
    /* background: linear-gradient(120deg,#835c91, #b97ef0,#cf9bfe,#ead1f5); */
     /* background: linear-gradient(120deg,#1ded06, #1ded06,#1ded06,#1ded06); */
   margin: 0px
}
.imgbtn{
    background:none;
    border:0;

}
.shadowBtn{
    box-shadow: 0 3px 0px rgb(255, 153, 250);
    border: greenyellow, solid;
}