/* Container holding the image and the text */
.container1 {
    position: 'relative';
        text-align: 'center';
        color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered1 {
    position: 'absolute';
    top: '120%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    color:'black';
  }