.partRouteContainer{
    text-align: center;
    /* text-align: right; */
    border: 5px solid #B22222;
    border-radius: 2;
    margin-top: 2;
    margin-bottom: 2;



    font: 20px Times New Roman Black, sans-serif;
    margin-left: auto;
    margin-right: auto;
   
    background-image: url("https://via.placeholder.com/500");
}
.partRouteDistance{
    
    /* border: 12px solid #B22222;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px; */
    border: 3px solid #060000;

    
    
    object-fit: cover;
    width: calc(100% / 3);
    /* background-color: coral; */
    color: #0d0f0d;

}
.partRouteDirection{
    
    /* text-align: right; */
    /* border: 12px solid #B22222;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px; */
    border: 3px solid #060000;

    
    /* font: small-caps bold 24px/1 sans-serif; */
   
    width: calc(100% / 3);
    /* background-color: rgb(158, 24, 120); */
}
.partRouteObj{
    /* text-align: right; */
    border: 3px solid #060000;
    object-fit: scale-down;
    width: calc(100% / 3);
    /* background-color: rgb(197, 230, 15); */

}
.partRouteFreeText{
    /* text-align: right; */
   
    background-color: rgb(230, 15, 165);
}
/* .partRoutearea{
    background-color: rgb(230, 101, 15);
} */
.imgR{
    /* text-align: right; */
    width: calc(100% / 3);
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.iconsRoute{
    
    /* text-align: right; */
    /* width: calc(100% / 2); */
    background-color: rgb(251, 248, 247);
}
.partRoutearea{
    /* text-align: center; */
    /* text-align: right; */
    border: 3px solid #060000;
    background-color: rgb(251, 248, 247);
}
.partRouteFreeText{
    text-align: center;
    /* text-align: right; */
    border: 3px solid #060000;
}
.colorNew{
    
background: linear-gradient(180deg,#c39fd4, #6be5f5,#6be5f5,#c39fd4);


   /* background-color:linear-gradient(140deg, #740ba3, #3d1662, #3d1662, #740ba3); */
}