.RouteStart{
  
    font: 20px Times New Roman Black, sans-serif;

    display: flex;
    justify-content: center;
    text-align: center;
    
   
}
.RouteStartArrow{
    background-image: "icons/right-arrow.svg";
}
