.App {
  display: flow;
  text-align: center;
  background: linear-gradient(to bottom, #a7defc, #f0f5f5);
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

