body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .compass {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(255, 164, 232);
    /* box-shadow: 0 0 15px rgba(0.3, 0, 0, 0.2); */
    margin: auto;
    /* background-color:rgba(255, 255, 255, 0.2); */
  }
/* style of arrow button */
  .compass > .arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    /* top: -20px; */
    /* left: 50%; */
    left: 51%;
    transform: translateX(-50%);
    border-style: solid;
    /* border-width: 30px 20px 0 20px; */
    border-width: 18px 12px 0 12px;
    border-color: rgb(251, 4, 4) transparent transparent transparent;
    z-index: 1;
  }

  .compass > .compass-circle,
  .compass > .my-point {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    background: url(https://cdn.onlinewebfonts.com/svg/img_467023.png) center
    
    no-repeat;
    background-size: contain;

    /* background: url(East.png) center */
  }

  .compass > .my-point {
    opacity: 0;
    width: 20%;
    height: 20%;
    background: rgb(8, 223, 69);
    border-radius: 50%;
    transition: opacity 0.5s ease-out;
  }

  .start-btn {
    margin-bottom: auto;
  }