
.navbar {
    background-color: #81d5fc;
    direction: rtl;
}

.navbar-dropdown {
    display: flow;
}

.navbar-link {
    text-align: start;
    direction: rtl;
}


/*.navbar {*/
/*    background-color: #4e63fc;*/
/*    height: 80px;*/
/*    display: flex;*/
/*    justify-content: end;*/
/*    align-items: center;*/
/*}*/

/*.menu-bars {*/
/*    margin-left: 2rem;*/
/*    font-size: 2rem;*/
/*    background: none;*/
/*}*/

/*.nav-menu {*/
/*    background-color: #4e63fc;*/
/*    width: 290px;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: -100%;*/
/*    transition: 850ms;*/
/*}*/

/*.nav-menu.active {*/
/*    right: 0;*/
/*    transition: 400ms;*/
/*}*/

/*.nav-text {*/
/*    display: flex;*/
/*    justify-content: start;*/
/*    align-items: center;*/
/*    padding: 8px 0 8px 16px;*/
/*    list-style: none;*/
/*    height: 60px;*/
/*}*/

/*.nav-text a {*/
/*    text-decoration: none;*/
/*    color: #fefefe;*/
/*    font-size: 18px;*/
/*    width: 95%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    padding: 0 16px;*/
/*    border-radius: 4px;*/
/*}*/

/*.nav-text a:hover {*/
/*    background-color: #484a4d;*/
/*}*/

/*.nav-menu-item {*/
/*    width: 100%;*/
/*}*/

/*.navbar-toggle {*/
/*    background-color: #4e63fc;*/
/*    width: 100%;*/
/*    height: 80px;*/
/*    display: flex;*/
/*    justify-content: start;*/
/*    align-items: center;*/
/*}*/

/*span {*/
/*    margin-left: 16px;*/
/*}*/

