/* square buttons */
/* .rec.rec-arrow {
    border-radius: 0;
} */
/* round buttons on hover */
/* .rec.rec-arrow:hover {
    border-radius: 50%;
} */
/* hide disabled buttons */
/* .rec.rec-arrow:disabled {
    visibility: hidden;
} */
/* .rec.rec-arrow {
    width: 0px;
    height: 0px;
    visibility: hidden;
} */
/* rec. */
/* disable default outline on focused items */
/* add custom outline on focused items */
/* .rec.rec-carousel-item.rec-carousel-item-1.rec-carousel-item-hidden.rec-carousel-item-prev{ */
button.eWjCzc {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1.6em;
    background-color: rgba(103,58,183,0.1);
    color: #333;
    box-shadow: 0 0 2px 0px #333;
    border-radius: 50%;
    border: none;
    padding: 0;
    width: 0px;
    height: 50px;
    min-width: 0px;
    line-height: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    outline: none;
}
button.eAyARa {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1.6em;
    background-color: rgba(103,58,183,0.1);
    color: #999;
    box-shadow: 0 0 2px 0px #333;
    border-radius: 0;
    border: none;
    padding: 0;
    width: 0;
    height: -7px;
    min-width: 0;
    line-height: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    outline: none;
}
/* button.btn.btn-primary { */
.todel {
display: inline-block;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: center;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
user-select: none;
background-color: transparent;
border: 0;
padding: 0;
font-size: 0;
border-radius: 0;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

/* .rec.rec-arrow-left:hover:enabled,
.rec.rec-arrow-right:hover:enabled{
    background-color: var(--clr-primary-400);
    color: rgb(234, 12, 12);
    box-shadow: 0 0 1px 3px var(--clr-primary-400);
}
button.rec-dot{
    background-color: rgb(235, 16, 16);
    box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5);
  }
  
  button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
    box-shadow: 0 0 1px 3px rgba(31, 16, 235, 0.5);
  }
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px lightgrey;
}

.rec-slider {
    display: flex;
    /*height: 100%;
    min-height: auto;
  }
.rec-slider > [tabindex] {
    height: 100%;
    outline: none;
  }

.rec-slider [class*="rec-swipable-"],
.rec-item-wrapper {
    height: 100%;
  }
 */
.colorCarousel{
  
    
        /* background: linear-gradient(140deg,#ead1f5, #b374ef,#b97ef0,#ead1f5); */
        background: linear-gradient(140deg,#05f509, #05f509,#05f509,#05f509);
        /* background: linear-gradient(140deg,#91fae5, #429887,#429887,#8af3c4,#d1f5d1);
         */
           /* background-color:linear-gradient(140deg, #740ba3, #3d1662, #3d1662, #740ba3); */
        
}