
.defSrc{
    /* width: calc(100% / 2); */
    /* width:50%; */
    /* border-radius: 2;
    margin-top: 2;
    margin-bottom: 2; */
    font: 20px Times New Roman Black, sans-serif;
    /* margin-left: auto;
    margin-right: auto;
    object-fit: cover; */
    /* margin-top: 0px;
    margin-bottom: 0px; */
    /* object-fit: scale-down; */
    /* max-height: 100px;
height: 100%; */
}
.defSrc2{
    /* margin-left: -33%; */
    /* margin-right: -33%; */
    /* justify-content: flex-end; */
    
    /* width: calc(100% / 2); */
    /* width:50%; */
    /* border-radius: 2;
    margin-top: 2;
    margin-bottom: 2; */
    font: 20px Times New Roman Black, sans-serif;
    /* margin-left: auto;
    margin-right: auto;
    object-fit: cover; */
    /* margin-top: 0px;
    margin-bottom: 0px; */
    /* object-fit: scale-down; */
    max-height: 100px;
height: 100%;
}
.CoSecond{
    
    /* border-radius: 2;
    margin-top: 2;
    margin-bottom: 2; */
    font: 10px Times New Roman Black, sans-serif;
    /* margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    margin-top: 0px;
    margin-bottom: 0px; */
     /* max-height: 100px; */
    /* height: 100%; */


}
.mainbackgroundColor{
 
    /* background: linear-gradient(80deg,#5b3967, #aa9fb4,#cf9bfe,#ead1f5); */
    background: linear-gradient(80deg,#38f509, #38f509,#38f509,#38f509);

}

