.myBox {
    border: none;
    padding: 5px;
    /* font: 24px/36px sans-serif; */
    width: 100%;
    height: 100px;
    overflow: scroll;
    text-align: right;
    }
    
    /* Scrollbar styles */
    ::-webkit-scrollbar {
    width: 15px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid rgb(205, 50, 153);
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: rgb(205, 50, 50);  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #88ba1c;  
    }