

.logViewWeb {
    /* background-color: rgb(6, 8, 8); */
    
        background: linear-gradient(90deg,#d485f1, #b97ef0,#cf9bfe,#ead1f5);
}
/* style={{ 
    background: "linear-gradient(120deg,#835c91, #b97ef0,#cf9bfe,#ead1f5)"
    // backgroundColor: "#FFF5EE"
    // backgroundImage: `url("https://via.placeholder.com/500")` 
  }} */
.center {
    margin: auto;
    width: 95%;
    /* border: 5px solid #FFFF00; */
    padding: 10px;
    /* text-align: right; */
    }

    .h1objlogmain {
        color: #333333;
        font-family: 'Bitter', serif;
        font-size: 80px; font-weight: normal;
        line-height: 54px;
         margin: 30px 0 30px;
         padding: 30px 0 54px;
         border-bottom: 1px solid rgb(0, 0, 0);
         border-top: 1px solid rgb(0, 0, 0);

         }

.objlogmain {
    margin: 10px 0 20px;
    /* border-bottom: 10px solid rgb(180, 4, 4); */
    padding: 30px 0 54px;
    background: linear-gradient(100deg,#e6c0f7, #FFE4C4,#FFE4C4,#e6c0f7);
    /* background-color: aqua; */
    }



.restart {
    margin: 10px 0 20px;
    /* border-bottom: 10px solid rgb(180, 4, 4); */
    padding: 30px 0 54px;
    background: linear-gradient(100deg,#c7430f, #000,#000,#c7430f);
    /* background-color: aqua; */
    }
div.react-datepicker-popper{
    border-bottom: 5px solid rgb(0, 0, 0);
         border-top: 5px solid rgb(0, 0, 0);
}
div.centerlogmain{
    margin-right: 5%;
}
.btnlogmain{
    margin-top: 5%;
    /* margin-left: 5%; */
    margin-right: 5%;

}
div.react-datepicker-popper{
    margin-left: 50%;

}
.h2objlogmain{
    margin-right: 3%;

}
.backgrouncomp{
    background: linear-gradient(120deg,#ead1f5, #FFE4C4,#FFE4C4,#ead1f5);
}
.startdatabase{
    background: #ead1f5;
    margin-top: 5px;
    margin-bottom: 5px;

    /* margin: 10px 0 20px; */
    /* border-bottom: 10px solid rgb(180, 4, 4); */
    padding: 30px 0 10px;
   
   
}