@import url("https://cdn.syncfusion.com/ej2/material.css");
 .parent {
  
    margin: 1rem;
    padding: 2rem 2rem;
    /* position:relative;right: 10%; */
    
  } 

  /* .react-datepicker-popper{
    position: relative; 
    right: 200px;
  }
  */
  /* .child
  {
      object-position: 80%;
      position:relative;right: 33px;
   
  } */